header{
position: absolute;
width: 523px;
height: 33px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 29px;
line-height: 33px;
text-align: center;

color: #000000;
}

.text{
    width: 523px;
    height: 21px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #555555;
}

.footer {
width: 132px;
height: 18px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #555555;
}

